[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
notebook = "*"
ipykernel = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
requests = "*"
beautifulsoup4 = "*"
tqdm = "*"
scipy = "*"

[dev-packages]

[requires]
python_version = "3.11"
